/* Variables */

$color-main: #C24E00;
$color-hover: #C24E00;
$color-text: #fff;
$color-green: #2ECC71;
$color-black: #131313;
$color-red: #E74C3C;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;