.nav{
  height: 100vh;
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  h1{
    margin-top: 150px;
    text-align: center;
    color:white;
    letter-spacing: 10px;
    font-size:65px;
  }
  h2{
    color:white;
    text-align: center;
  }
  
}

.menu{
  margin-top: 0;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    display: inline-block;
    text-decoration: none;
    color:white;
    width: 10%;
    margin-left:20px;
    text-transform: uppercase;
  }
}