/* Regular (normal) */
@font-face {
  font-family: 'SourceSansPro';
  src: url('../vendor/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: 'SourceSansPro';
  src: url('../vendor/fonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SourceSansPro';
  src: url('../vendor/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Black*/
@font-face {
  font-family: 'SourceSansPro';
  src: url('../vendor/fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

$font-primary: 'SourceSansPro', sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;